.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 2em;
}

.wrapper h2 {
    align-self: center;
    text-decoration: underline var(--SPRING_GREEN) 1px;
    text-underline-offset: 2px;
}

.user-schema {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.user-schema .schema-item:first-of-type {
    color: var(--QUITE_DARKER_GRAY);
    font-weight: 500;
    font-size: .9rem;
}

.schema-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr) .1fr;
    column-gap: 1em;
    align-items: center;
}

.add-field {
    align-self: center;
    width: 10em;
}

.delete {
    --SIZE: 1em;
    width: var(--SIZE);
    height: var(--SIZE);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.delete:hover {
    filter: brightness(1.5);
}

.type {
    cursor: pointer;
    padding: .25em .5em;
    border-radius: 5px;
    border: none;
    background: black;
    outline: 1px solid var(--QUITE_DARKER_GRAY);
    font-size: .8rem;
    color: var(--QUITE_DARKER_GRAY);
}

.submission {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.options > *:not(.active) {
    opacity: .7;
}

.options > *:before, .options > *:after {
    color: var(--GRAY);
}

.options > *:hover {
    background: transparent;
    color: white;
    opacity: .9;
}

.options .active:after, .options .active:before {
    color: var(--SEA_GREEN);
}

.options .active:hover {
    background: transparent;
}

.generate {
    align-self: center;
    width: 15em;
}